@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


<p>Our web application allows you to see and buy the most amazing places from Timisoara. We are satisfied when the clients are satisfied. </p>
<p>Made by <b>Sebastian Octavian Sas</b>.</p>
