@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Timisoara, Timis, Romania<br />
    FC Ripensia, scara 15A, ap 1<br />
    <abbr title="Phone">P:</abbr>
    0736.459.245
</address>

<address>
    <strong>Support:</strong> <a href="mailto:propertysaleSuport@yahoo.com">propertysaleSuport@Propertysale.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:propertysale@yahoo.com">propertysaleMarketing@Propertysale.com</a>
</address>
