@model ConfirmBuyViewModel

@{
    ViewBag.Title = "Confirm";
}

<div class="page-header">
    <h1>Confirm buy</h1>
</div>

<form method="post" asp-action="Delete">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-lg-12">
                <h4>Tip</h4>
                <p>@Model.PropertyInfos.Type<p>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="@Model.PropertyInfos.urlPhoto">
                    </a>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="Confirm" class="btn btn-primary" />
            <a asp-action="@nameof(HomeController.Index)" class="btn btn-danger">
                <span> Cancel</span>
            </a>
        </div>
    </div>
</form>
